@import url("base.css");
body{
	width: 100%;
	height: 100%;
	background: #F8F8F8;
}
.headNav{
	width: 100%;
	height: 160px;
}
.headNav .nameNav{
	width: 100%;
	height: 110px;
	display: flex;
	align-items: center;
}
.headNav .nameNav img{
	width: 267px;
	height: 61px;
	margin-left: 260px;
}
.headNav .nav{
	width: 100%;
	height: 50px;
	background: black;
}
.headNav .nav .con{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.headNav .nav .con div{
	width: 100px;
	height: 100%;
	margin-left: 30px;
	display: flex ;
	justify-content: center;
}
.headNav .nav .con div:hover{
	background: #fff;
}
.headNav .nav .con div:first-child{
	margin-left: 0;
}
.headNav .nav .con a{
	display: block;
	width: 64px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.headNav .nav .con span{
	font-size: 16px;
	font-weight: normal;
	font-family: 微软雅黑;
	color: #fff;
}
.headNav .nav .con div:hover span{
	color: black;
}
.headNav .nav .con .beauty{
	background: white;
	
}
.headNav .nav .con .beauty span{
	color: black;
}
.pic{
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
}
.pic img{
	position: absolute;
	top: 0;
	left: -180px;
}
.love{
	width: 1000px;
	height: 361.4px;
	margin: 20px auto 10px auto;
	background: white;
}
.love .after{
	width: 1000px;
	height: 398px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}
.love .after .left{
	width: 498px;
	height: 335px;
	position: relative;
	top: 0;
	left: 0;
}
.love .after .left::after{
	content: "宠物美容的“重头戏”";
	width: 100%;
	height: 29.6px;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 29.6px;
	color: white;
	font-size: 12px;
}
.love .after .right{
	width: 500px;
	height: 346px;
}
.love .after .right .word{
	width: auto;
	height: 12%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
	
}
.love .after .right .word:nth-child(1), .love .after .right .word:nth-child(2), .love .after .right .word:nth-child(3), .love .after .right .word:nth-child(4), .love .after .right .word:nth-child(5), .love .after .right .word:nth-child(6), .love .after .right .word:nth-child(7){
	border-bottom: 1px solid #E9E9E9;
}
.love .after .right .word .date{
	width: 100%;
	height: 22.4px;
	display: flex;
	justify-content: space-between;
	

}

.love .after .right .word .date a{
	width: auto;
	height: 100%;
	font-weight: 100;
	color: gray;
	font-size: 16px;
}
.love .after .right .word .date span{
	width: auto;
	height: 100%;
	font-weight: 100;
	color: gray;
	font-size: 16px;
	margin-right: 10px;
}
.love .after .right .word .date:hover a, .love .after .right .word .date:hover span{
	color: #ff6700;
}
.move{
	width: 1000px;
	height: 260px;
	margin: 10px auto;
}
.move .shili{
	width: 1000px;
	height: 35.2px;
}
.move .shili span{
	font-size: 18px;
	color: black;
	line-height: 35.2px;
}
.move .movePic{
	width: 1000px;
	height: 204px;
	/* display: flex;
	overflow-x: auto; */
	margin-top: 10px;
	overflow: hidden;
	position: relative;
}
.move .include{
	width: 2000px;
	height: 100%;
	/* display: flex; */
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.move .movePic .moveImg{
	width: 334px;
	height: 204px;
	float: left;
	background-color: red;
	/* flex-shrink: 0; */
	/* overflow-x: auto; */
	margin-left: 60px;
	/* position: absolute;
	top: 0;
	left: 0; */
}
.move .movePic::-webkit-scrollbar{
	height: 0;
}
.end{
	width: 100%;
	height: 121.8px;
	background-color: black;
	display: flex;
	align-items: center;
}
.end .endBox{
	width: 1000px;
	height: 76.8px;
	margin: 0 auto;
}
.end .endBox .td{
	width: 1000px;
	height: 25.6px;
	display: flex;
	justify-content: space-between;
}
.end .endBox .td span{
	display: block;
	width: auto;
	height: 25.6px;
	display: flex;
	color: gray;
	font-size: 13px;
}
.end .endBox .td span a{
	margin-left: 10px;
	color: gray;
	position: relative;
	font-size: 13px;
}
.end .endBox .td span a:hover{
	color: white;
}
.end .endBox .td span a:first-child::after, .end .endBox .td span a:nth-child(2)::after, .end .endBox .td span a:nth-child(3)::after{
	content: "";
	position: absolute;
	top: 5px;
	right: -6px;
	width: 1px;
	height: 10px;
	background: gray;
}
.end .endBox .td span i{
	display: block;
	margin-left: 10px;
	font-style: normal;
}
